/* .new-pin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
} */

#new-pin {
    width: 5vw;
    position: absolute;
}

.new-pin-pop-up {
    background-color: white;
    padding: 1vh 2vw 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 10vh;
    height: 40vh;
    width: 70vw;
}

/* #close-button {
    align-self: flex-end;
} */

#save {
    margin-top: 3vh;
}

/* #birdlist {
    z-index: 101;
    margin: auto;
    /* display: contents; */

#birdlist {
    width: 100%;
    text-align: center;
}
