.popup {
    background-color: white;
    border-radius: 5px;
    padding: 1vh 2vw 2vh 2vw;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.63, -0.33, 0.32, 1.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 10vh;
    height: 40vh;
    width: 70vw;
}

#bird-thumbnail {
    object-fit: cover;
    width: 30vw;
    height: 30vw;
    border: 1px solid transparent;
    border-radius: 50%;
}

.popup h2 {
    text-align: center;
}

#close {
    cursor: pointer;
}
