body {
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #353d60;
    width: 100vw;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin-top: 3vh;
}
.form-entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.form-entry label {
    position: absolute;
    left: 0;
    color: #353d60;
    cursor: text;
    transform-origin: 0 0;
    font-size: 1.1em;
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}

.form-entry .errorfield {
    border: 1px solid red !important;
}

.form-entry input {
    outline: none;
    border: none;
    color: #353d60;
    background-color: unset;
    font-weight: bolder;
    border-bottom: 0.5px solid #f5756a;
    font-size: 1em;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    color: rgba (53, 61, 96, 0.8);
    transform: translateY(-1.1em) scale(0.8);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vh 2vw;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: snow;
}

.container h2 {
    font-weight: 400;
    color: #353d60;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}

#footnote {
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 3vh;
    color: #353d60;
}

#footnote a {
    color: #353d60;
}
#footnote a:visited {
    color: #353d60;
}

.form-container input:not(:last-of-type) {
    font-size: 1.2em;
}

.form-container #submit {
    font-family: "Work Sans", sans-serif;
    color: snow;
    font-size: 1.2em;
    background-color: #f5756a;
    border: 1px solid #f5756a;
    border-radius: 5px;
    padding: 1vw 3vw;
    margin-top: 2vh;
}

.error {
    color: red;
    white-space: pre-wrap;
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 720px) and (orientation: landscape) {
    h2,
    #footnote {
        font-size: 1em;
    }

    #footnote {
        margin-top: 0.5vh;
    }
    .form-entry label {
        font-size: 0.9em;
    }

    .form-container {
        gap: 3vh;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
        color: rgba (53, 61, 96, 0.8);
        transform: translateY(-0.8em) scale(0.8);
    }
}
