.location-pane {
    position: fixed;
    width: 85vw;
    background-color: white;
    /* stretch the overlay */
    inset: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    transform: translateX(-100%);
    border: 1px solid #353d60;
    border-radius: 0 10px 10px 0;
    transition: transform 200ms linear;
}

.visible {
    transform: translateX(0%);
    transition: transform 200ms linear;
}

.location-pane h4 {
    margin-top: 2vh;
    font-size: 1.6em;
    font-family: "Oswald", sans-serif;
    color: #353d60;
}

#save-dark {
    margin-top: 2vh;
    cursor: pointer;
    color: #353d60;
    font-size: 1em;
}

@media screen and (min-width: 720px) {
    #save-dark {
        font-size: 1.5em;
    }
}
