.map-container {
    width: 100vw;
    height: 100vh;
    background-color: beige;
}

/* .sidebar {
    background-color: rgba(53, 61, 96, 0.8);
    color: white;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
} */

.button-container-bottom {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 90%;
    bottom: 0;
}

.button-container-top {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    top: 0;
    align-items: flex-start;
}

#filter {
    margin-top: 10px;
}

#show-birds,
#my-sightings,
#show-birds-visible,
#my-sightings-visible {
    background-color: rgba(53, 61, 96, 0.8);
    color: white;
    padding: 1vw 3vw;
    font-family: "Work Sans", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    margin: 12px;
    border-radius: 5px;
    border: 1px solid rgba(53, 61, 96, 0.8);
}

#show-birds-visible {
    background-color: rgba(117, 139, 253, 0.9);
    border: 1px solid #758bfd;
}

#my-sightings-visible {
    background-color: rgba(245, 117, 106, 0.9);
    border: 1px solid #f5756a;
}
#logout,
#geolocate {
    background-color: rgba(53, 61, 96, 0.8);
    padding: 2vw 3vw;
    margin: 12px;
    border-radius: 5px;
    border: 1px solid rgba(53, 61, 96, 0.8);
    display: flex;
    align-items: center;
}
#logout img {
    width: 6vw;
    padding-left: 1vw;
    padding-right: 1vw;
    object-fit: contain;
}

#geolocate img {
    width: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
    /* object-fit: contain; */
}

.mapboxgl-popup-content {
    text-align: center;
}

/* IMPORTANT: remove this later on */
.mapboxgl-ctrl-logo {
    display: none !important;
}

.top-icon {
    margin: 10px;
    width: 5vh;
    height: 5vh;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.search-icon {
    margin: 10px;
    width: 60vw;
    height: 5vh;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.top-icon img {
    width: 80%;
    object-fit: contain;
    padding: 2px;
}

.search-icon img {
    height: 100%;
    object-fit: contain;
    padding: 2px;
}

.search-icon p {
    color: gray;
}

.close-top {
    margin-top: 10px;
    background-color: white;
    border: 0.5px solid transparent;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 2vw;
}
