/* .new-pin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
} */

#new-pin {
    width: 4vw;
    position: absolute;
}

.new-pin-pop-up {
    background-color: #f5756a;
    padding: 1vh 2vw 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 8vh;
    width: 80vw;
    border-radius: 5px;
    gap: 1vh;
    border: 1px solid #353d60;
}

.new-pin-pop-up h4 {
    font-size: 1.6em;
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: white;
}

/* #close-button {
    align-self: flex-end;
} */

#save {
    margin-top: 2vh;
}

/* #birdlist {
    z-index: 101;
    margin: auto;
    /* display: contents; */

#birdlist {
    width: 100%;
    text-align: center;
}
#datalist-container {
    width: 100% !important;
    position: relative;
    display: flex;
}

.react-datalist-input__container {
    width: 100% !important;
}

.reset-search {
    width: 6vw;
    height: 6vw;
    padding: 1vw;
    align-self: center;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    background: white;
    border: 1px solid #8e8e8e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8e8e;
    position: absolute;
    right: 1vw;
}

mark {
    background-color: mistyrose !important;
    /* color: marktext; */
}

.sciname {
    font-style: italic;
    color: white;
    font-weight: bolder;
    margin-top: 1vh;
}

#bird-img {
    object-fit: cover;
    width: 38vw;
    height: 38vw;
    border: 1px solid transparent;
    /* border-radius: 50%; */
    margin: 3vh 0 0 0;
    border: 1px solid white;
}

.react-datalist-input__textbox {
    font-size: 1.1em !important;
}

.react-datalist-input__textbox:focus-visible {
    border: 1px solid #353d60;
}

.react-datalist-input__listbox {
    max-height: 30vh;
    overflow-y: scroll;
}

#save {
    margin-top: 1vh;
    cursor: pointer;
    color: white;
    text-decoration: underline;
    font-size: 1.2em;
}

#cancel {
    margin-top: 1vh;
    cursor: pointer;
    color: white;
}
