/* .new-pin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
} */

#new-pin {
    width: 4vw;
    position: absolute;
}

.new-pin-pop-up {
    background-color: #f5756a;
    padding: 1vh 2vw 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 8vh;
    width: 80vw;
    border-radius: 5px;
    gap: 1vh;
    border: 1px solid #353d60;
}

.new-pin-pane {
    position: fixed;
    left: 0;
    width: 85vw;
    background-color: #f5756a;
    /* stretch the overlay */
    inset: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    /* transform: translateX(-100%); */
    border: 1px solid #353d60;
    border-radius: 0 10px 10px 0;
    /* transition: transform 200ms linear; */
}

.new-pin-pop-up h4,
.new-pin-pane h4 {
    font-size: 1.6em;
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: white;
}

.new-pin-pane h4 {
    margin-top: 2vh;
}

/* #close-button {
    align-self: flex-end;
} */

/* #birdlist {
    z-index: 101;
    margin: auto;
    /* display: contents; */

#birdlist {
    width: 100%;
    text-align: center;
}
#datalist-container {
    width: 100% !important;
    position: relative;
    display: flex;
    margin-top: 2vh;
}

.react-datalist-input__container {
    width: 100% !important;
}

.reset-search {
    width: 5.8vw;
    height: 5.8vw;
    padding: 1vw;
    align-self: center;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    background: white;
    border: 1px solid #8e8e8e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8e8e;
    position: absolute;
    right: 1vw;
}

mark {
    background-color: mistyrose !important;
    /* color: marktext; */
}

.sciname {
    font-style: italic;
    color: white;
    font-weight: bolder;
    margin-top: 1vh;
}

#bird-img {
    object-fit: cover;
    width: 38vw;
    height: 38vw;
    border: 1px solid transparent;
    /* border-radius: 50%; */
    margin: 3vh 0 0 0;
    border: 1px solid white;
}

.react-datalist-input__textbox {
    font-size: 1.1em !important;
    height: 6vw;
}

.react-datalist-input__textbox:focus-visible {
    border: 1px solid #353d60;
}

.react-datalist-input__listbox {
    max-height: 30vh;
    overflow-y: scroll;
}

#save {
    margin-top: 1vh;
    cursor: pointer;
    color: white;
    text-decoration: underline;
    font-size: 1.2em;
}

.new-pin-pane #save {
    margin-top: 3vh;
}

#cancel {
    margin-top: 1vh;
    cursor: pointer;
    color: white;
}

.new-pin-pane #cancel {
    align-self: flex-end;
}

@media screen and (min-width: 720px) {
    .new-pin-pop-up {
        top: 10vh;
        width: 60vw;
    }

    #save {
        font-size: 1.5em;
    }
    #cancel {
        font-size: 1.2em;
    }

    .react-datalist-input__container {
        width: 90% !important;
    }

    .react-datalist-input__textbox {
        height: 4vw;
    }

    .reset-search {
        right: 10%;
        width: 3.7vw;
        height: 3.7vw;
    }

    #bird-img {
        object-fit: cover;
        width: 30vw;
        height: 30vw;
    }
}

@media screen and (min-width: 1024px) {
    .new-pin-pop-up {
        top: 3vw;
        width: 32vw;
    }

    .react-datalist-input__container {
        width: 90% !important;
    }

    .reset-search {
        right: 10%;
    }

    .new-pin-pane {
        width: 50vw;
    }

    .react-datalist-input__textbox {
        font-size: 1.3em !important;
        height: 3vw;
    }

    .reset-search {
        width: 2.8vw;
        height: 2.8vw;
    }

    #bird-img {
        object-fit: cover;
        width: 18vw;
        height: 18vw;
    }
}

#comment {
    width: 80%;
    height: 10%;
    margin-top: 1vh; 
}
