.search-pane {
    position: fixed;
    width: 85vw;
    background-color: white;
    /* stretch the overlay */
    inset: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    transform: translateX(-100%);
    border: 1px solid #353d60;
    border-radius: 0 10px 10px 0;
    transition: transform 200ms linear;
}

.visible {
    transform: translateX(0%);
    transition: transform 200ms linear;
}

#filter {
    margin-top: 2vh;
    position: relative;
    display: flex;
}
#filter .react-datalist-input__container {
    width: 90% !important;
}

#filter .react-datalist-input__listbox {
    max-height: 30vh;
}

.close-search {
    margin-top: 2vh;
    margin-right: 5vw;
    align-self: flex-end;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-size: 2em;
    font-weight: 300;
}

#cancel-search {
    margin-top: 2vh;
    margin-right: 5vw;
    align-self: flex-end;
    cursor: pointer;
}

.search-pane h4 {
    margin-top: 2vh;
    font-size: 1.6em;
    font-family: "Oswald", sans-serif;
    color: #353d60;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    /* stretch the overlay */
    inset: 0;
    z-index: 95;
}

.search-results {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: white;
    /* stretch the overlay */
    z-index: 110;
    display: flex;
    flex-direction: column;
    padding: 0 0 3vh 2vh;
    transform: translateY(100%);
    border: 1px solid #353d60;
    border-radius: 10px 10px 0 0;
    transition: transform 200ms linear;
}

.search-visible {
    transform: translateY(0%);
    transition: transform 200ms linear;
}

#search-results-info {
    font-style: italic;
    margin-top: 2vh;
}
