#uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: 2vh;
}

#upload-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#uploader #bird-img {
    margin: 0;
}

#submit-uploader {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: white;
    text-decoration: underline;
    font-size: 1.2em;
    font-family: "Work Sans", sans-serif;
    cursor: pointer;
}

.error-popup {
    font-style: italic;
    white-space: pre-wrap;
    text-align: center;
    margin-top: 3vh;
}

#preview-images {
    display: flex;
    gap: 3vh;
    max-width: 60vw;
    overflow-x: scroll;
}

input[type="file" i] {
    color: white !important;
}
