body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: darkslategray;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
