.start-container {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 100%;
    height: 100%;
    font-family: "Work Sans", sans-serif;
}

#logo {
    width: 80vw;
    justify-self: center;
}

h1 {
    font-family: "Oswald";
    text-align: center;
    color: white; 
}
h2 {
    font-weight: 400;
    color: #353d60;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}

#start-span {
    justify-self: flex-end;
    text-align: center;
    color: white;
    margin-top: 4vh;
    font-size: 1.4em;
    font-weight: 700;
}

#start-span a {
    color: white;
}

#start-span a:visited {
    color: white;
}

#start-span p {
    margin: 2vh 0;
    font-weight: 400;
}
